# Angular cache directory
.angular/

# Build output directory
dist/

# Dependency directories
node_modules/

# IDE or editor-related files
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Environment files
*.env
